.header
    background-color: #fff
    &-top
        display: flex
        align-items: center
        padding: 40px 0 40px 0
        &__search
            margin-right: 415px
.logo
    margin-right: 108px

.search
    display: flex
    position: relative
    overflow: hidden
    border-radius: 3px
    height: 40px
    &__input
        width: 350px
        height: 100%
        padding-left: 23px
        padding-right: 75px
        background-color: #F5FAFE
        border: none
        font-size: 12px
        line-height: 15px
        color: $text-color
    &__button
        position: absolute
        top: 0
        right: 0
        background-color: $primary
        width: 65px
        height: 100%
        border: none

.user
    display: flex
    align-items: center
    &__avatar
        width: 40px
        height: 40px
        border-radius: 50%
        object-fit: cover // чтобы не плющело фотку
        box-shadow: 0 4px 4px rgba(0,0,0,0.25)
        margin-right: 18px
    &__name
        text-decoration: none
        font-size: 14px
        line-height: 18px

